<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cart">
	<select id="selectAll" resultType="Cart" parameterType="Cart">
		select * from cart where member_idx=#{member.member_idx}
	</select>

	<insert id="insert" parameterType="Cart">
		insert into cart(member_idx, product_idx, ea)
		values(#{member.member_idx}, #{product.product_idx}, #{ea})
	</insert>
	
	<select id="selectCount" resultType="int" parameterType="Cart">
		select count(*) from cart where product_idx=#{product.product_idx}
		and member_idx={#member.member_idx}
	</select>
	
	<update id="updateEa" parameterType="Cart">
		update cart set ea=ea+1 where product_idx=#{product.product_idx}
		and member_idx=#{member.member_idx}
	</update>
</mapper>