<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
	<select id="selectAll" resultType="Member">
		select * from member
	</select>
	
	<select id="select" parameterType="Member" resultType="Member">
		select * from member 
		where member_id=#{member_id} and member_pass=#{member_pass}
	</select>
	
	<insert id="insert" parameterType="Member">
		insert into member(member_id, member_pass, member_name, email)
		values(#{member_id}, #{member_pass}, #{member_name},#{email})
	</insert>
	
	<update id="update" parameterType="Member">
		update member set member_pass=#{member_pass}, email=#{email}
		where member_idx=#{member_idx} 	
	</update>
	
	<delete id="delete" parameterType="Member">
		delete from member where member_id=#{member_id} and member_pass=#{member_pass} 
	</delete>
	
</mapper>